{% extends 'index.html'%}
{% block content %}
{{ message }}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Password Generator</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-4 text-center ">
            <h1>Create Password</h1>
            
            <div class="form-check container mb-2">
                <input id="lowercase" type="checkbox" class="form-check-input" checked="true">
                <label for="lowercase" class="form-check-label">Lowercase</label>
                <br>
                <input id="uppercase" type="checkbox" class="form-check-input" checked="true">
                <label for="uppercase" class="form-check-label">Uppercase</label>
                <br>
                <input id="numbers" type="checkbox" class="form-check-input" checked="true">
                <label for="numbers" class="form-check-label">Numbers</label>
                <br>
                <input id="special" type="checkbox" class="form-check-input" checked="true">
                <label for="special" class="form-check-label">Special (!@#$...)</label>
                <br>
                <input id="len" type="number" name="length" max="20" size="5" value="10" style="width: 100px;">
                <label for="len" class="form-number-label" >Password Length</label>
                
            </div>
            
            <button id="createPassword" class="btn btn-primary btn-lg col-lg-4 col-md-6 col-sm-8 col-xs-12 mt-4">Generate A Secure Password</button>
            <h3 id="password"></h3>
        </div>
        
    </div>

    <script src="app.js"></script>

</body>

</html>



{% endblock %}