{% extends 'index.html'%}
{% block content %}

<div class="container bg-light">
    <div class="jumbotron mt-4 text-center ">
        <h1>Create Password</h1>
        
        <div class="form-check container mb-2">
            <input id="lowercase" type="checkbox" class="form-check-input" checked="true">
            <label for="lowercase" class="form-check-label">Lowercase</label>
            <br>
            <input id="uppercase" type="checkbox" class="form-check-input" checked="true">
            <label for="uppercase" class="form-check-label">Uppercase</label>
            <br>
            <input id="numbers" type="checkbox" class="form-check-input" checked="true">
            <label for="numbers" class="form-check-label">Numbers</label>
            <br>
            <input id="special" type="checkbox" class="form-check-input" checked="true">
            <label for="special" class="form-check-label">Special (!@#$...)</label>
            <br>
            <input id="len" type="number" name="length" max="20" size="5" value="10" style="width: 100px;">
            <label for="len" class="form-number-label" >Password Length</label>
        </div>
        
        <h1>Generated password is: {{ generated_password }}</h1>

        <form action="/passwords/" method="post"> 
            {% csrf_token %}
            <button type="submit" name="btn_generate_password" value="1" id="createPassword" class="btn btn-primary btn-lg col-lg-4 col-md-6 col-sm-8 col-xs-12 mt-4">Generate A Secure Password</button>
        </form>
        <h3 id="password"></h3>
    </div>
    
</div>

{% endblock %}