{% extends 'index.html'%}
{% block content %}

<div class="container bg-light">
    <div class="jumbotron mt-4 text-center ">
        <h2>Create Secure Password</h2>

        <form action="/passwords/" method="post"> 
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input name="inp_email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email / Username" value = {{ email_address }}>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input name ="inp_password" type="password" class="form-control" id="inputPassword" placeholder="Password" value = {{ generated_password }}>
            </div>
            <div class="form-check">
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password will be 10 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </small>
              
            </div>
          
        <h1>Generated password is: {{ generated_password }}</h1>

            {% csrf_token %}
            <button type="submit" name="btn_generate_password" value="1" id="createPassword" class="btn btn-primary btn-lg col-lg-4 col-md-6 col-sm-8 col-xs-12 mt-4">Generate A Secure Password</button>
            <button type="submit" name="btn_store_credentials" value="2" id="submitCredentials" class="btn btn-primary btn-lg col-lg-4 col-md-6 col-sm-8 col-xs-12 mt-4">Store credentials</button>
        </form>
        <h3 id="password"></h3>
    </div>
</div>

{% endblock %}